<template>
  <div>
    <h1>เอกสารดาวน์โหลด</h1>
    <br />
    <h3>สำหรับนิสิต</h3>
    <ol>
      <li>
        <b-link
          href="https://www.informatics.buu.ac.th/coop/docs/nisit/IN-S001.pdf"
          >ใบสมัครเป็นนิสิตสหกิจศึกษา (IN-S001)</b-link
        >
      </li>
      <li>
        <b-link
          href="https://www.informatics.buu.ac.th/coop/docs/nisit/IN-S002.pdf"
          >ใบสมัครงานสหกิจศึกษา (IN-S002)</b-link
        >
      </li>
      <li>
        <b-link
          href="https://www.informatics.buu.ac.th/coop/docs/nisit/IN-S003.pdf"
          >บบอนุญาตให้นิสิตไปปฏิบัติงานสหกิจศึกษา (IN-S003)</b-link
        >
      </li>
      <li>
        <b-link
          href="https://www.informatics.buu.ac.th/coop/docs/nisit/IN-S004.pdf"
          >แบบแจ้งรายละเอียดการปฏิบัติงาน และแผนที่ตั้งสถานประกอบการ
          (IN-S004)</b-link
        >
      </li>
      <li>
        <b-link
          href="https://www.informatics.buu.ac.th/coop/docs/nisit/IN-S005.pdf"
          >แบบแจ้งแผนปฏิบัติงานสหกิจศึกษา (IN-S005)</b-link
        >
      </li>
      <li>
        <b-link
          href="https://www.informatics.buu.ac.th/coop/docs/nisit/IN-S006.pdf"
          >แบบแจ้งโครงร่างรายงานการปฏิบัติงาน (Work Term Report)
          (IN-S006)</b-link
        >
      </li>
      <li>
        <b-link
          href="https://www.informatics.buu.ac.th/coop/docs/nisit/IN-S007.pdf"
          >แบบคำร้องทั่วไป (IN-S007)</b-link
        >
      </li>
      <li>
        <b-link
          href="https://www.informatics.buu.ac.th/coop/docs/nisit/IN-S008.pdf"
          >แบบประเมินสถานประกอบการที่ให้ความอนุเคราะห์รับนักศึกษาฝึกงาน
          (ประเมินโดยนิสิต) (IN-S008)</b-link
        >
      </li>
      <li>
        <b-link
          href="https://www.informatics.buu.ac.th/coop/docs/manual/SummerOrientationCooperative.pdf"
          >เอกสารการปฐมนิเทศสหกิจศึกษา ประจำภาคเรียนที่ 2 ปีการศึกษา
          2559</b-link
        >
      </li>
    </ol>
    <br />
    <h3>สำหรับอาจารย์</h3>
    <ol>
      <li>
        <b-link
          href="https://www.informatics.buu.ac.th/coop/docs/instructor/IN-T001.pdf"
          >แบบประเมินการนิเทศงานสหกิจศึกษา (IN-T001)</b-link
        >
      </li>
      <li>
        <b-link
          href="https://www.informatics.buu.ac.th/coop/docs/instructor/IN-T002.pdf"
          >แบบประเมินการนำเสนอผลงานสำหรับคณะกรรมการภาควิชา (IN-T002)</b-link
        >
      </li>
    </ol>
    <br />
    <h3>สำหรับสถานประกอบการ</h3>
    <ol>
      <li>
        <b-link
          href="https://www.informatics.buu.ac.th/coop/docs/corporation/IN-C001.pdf"
          >แบบฟอร์มรายละเอียดสถานประกอบการ (IN-C001)</b-link
        >
      </li>
      <li>
        <b-link
          href="https://www.informatics.buu.ac.th/coop/docs/corporation/IN-C002.pdf"
          >แบบประเมินผลการปฏิบัตินิสิตสหกิจศึกษา (IN-C002)</b-link
        >
      </li>
      <li>
        <b-link
          href="https://www.informatics.buu.ac.th/coop/docs/corporation/IN-C003.pdf"
          >แบบประเมินรายงานสหกิจศึกษา (IN-C003(PDF)</b-link
        >/<b-link
          href="http://www.informatics.buu.ac.th/coop/docs/corporation/IN-C003.docx"
          >IN-C003(DOCX))</b-link
        >
      </li>
      <li>
        <b-link
          href="https://www.informatics.buu.ac.th/coop/docs/corporation/IN-C004.pdf"
          >แบบฟอร์มการรับนิสิต (IN-C004(PDF)</b-link
        >/<b-link
          href="http://www.informatics.buu.ac.th/coop/docs/corporation/IN-C004.docx"
          >IN-C004(DOCX))</b-link
        >
      </li>
      <li>
        <b-link
          href="https://www.informatics.buu.ac.th/coop/docs/corporation/IN-C005.pdf"
          >ใบรับรองและอนุญาตให้เผยแพร่รายงานปฏิบัติงานสหกิจศึกษา
          (IN-C005(PDF)</b-link
        >/<b-link
          href="http://www.informatics.buu.ac.th/coop/docs/corporation/IN-C005.docx"
          >IN-C005(DOCX))</b-link
        >
      </li>
    </ol>
  </div>
</template>
