<template>
  <div>
    <h2>ประกาศ <b-button variant="light"><router-link to="/Login">เข้าสู่ระบบ</router-link></b-button></h2>
    <iframe width="940" height="480" src="https://www.youtube.com/embed/zb6Ql1iRgIM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <b-nav vertical class="w-70">
      <b-nav-item
        ><router-link to=""
          >ประกาศคณะวิทยาการสารสนเทศ เรื่อง การปฎิบัติงานสหกิจศึกษา
          คณะวิทยาการสารสนเทศ มหาวิทยาลัยบูรพา พ.ศ. ๒๕๕๘</router-link
        ></b-nav-item
      >
      <b-nav-item
        ><router-link to=""
          >ประกาศเงื่อนไขทางวิชาการการปฎิบัคิงานสหกิจศึกษา
          สาขาวิทยาการคอมพิวเตอร์ คณะวิทยาการสารสนเทศ มหาวิทยาลัยบูรพา พ.ศ.
          ๒๕๖๒</router-link
        ></b-nav-item
      >
    </b-nav>
  </div>
</template>
