<template>
<div>
  <br>
  <h2>เข้าสู่ระบบ</h2><br>
  <b-card class="center" style="width: 75%;">
    <!-- Card body -->
    <b-card-body>
      <b-form @submit.prevent="login">
        <b-alert v-model="showAlert" variant="danger" >Username หรือ Password ผิด!</b-alert>

        <b-form-group>
          <h5>Username</h5>
          <b-form-input required v-model="username" :state="validationUsername" placeholder="Enter Username"></b-form-input>
          <b-form-invalid-feedback :state="validationUsername">Username ต้องไม่น้อยกว่า 4 ตัวอักษร และไม่เกิน 10 ตัวอักษร</b-form-invalid-feedback>
          <!-- <b-form-valid-feedback :state="validationUsername">ถูกต้อง</b-form-valid-feedback> -->
        </b-form-group>

        <b-form-group>
          <h5>Password</h5>
          <b-form-input required v-model="password" :state="validationPassword" placeholder="Enter Password"></b-form-input>
          <b-form-invalid-feedback :state="validationPassword">Password ต้องไม่น้อยกว่า 4 ตัวอักษร และไม่เกิน 20 ตัวอักษร</b-form-invalid-feedback>
          <!-- <b-form-valid-feedback :state="validationPassword">ถูกต้อง</b-form-valid-feedback> -->
        </b-form-group>
        <b-button :disabled="!validationUsername || !validationPassword"  variant="success" type="submit" @click="showAlert" >เข้าสู่ระบบ</b-button>

      </b-form>
    </b-card-body>
  </b-card>
</div>
</template>

<script>
import jwt from 'jsonwebtoken'
import axios from 'axios'
export default {
  name: 'login',
  data () {
    return {
      username: '',
      password: '',
      type: '',
      showAlert: false
    }
  },
  computed: {
    validationUsername () {
      return this.username.length > 3 && this.username.length < 21
    },
    validationPassword () {
      return this.password.length > 3 && this.password.length < 21
    }
  },
  methods: {
    login () {
      let user = {
        username: this.username,
        password: this.password
      }
      axios.post('http://localhost:3000/login', user)
        .then(res => {
          console.log(res)
          if (res.status === 200) {
            jwt.sign({
              username: this.username,
              password: this.password,
              type: res.data.type
            }, 'jwtSecret', { expiresIn: '5 min' }, (err, token) => {
              if (err) {
                res.sendStatus(500)
              } else {
                window.localStorage.setItem('token', token)
                if (res.data.type === 'professor') {
                  this.$router.push('/professor')
                } else if (res.data.type === 'student') {
                  this.$router.push('/student')
                } else {
                  this.$router.push('/officer')
                }
                res.json({ token })
              }
            })
          }
        }, err => {
          this.showAlert = true
          console.log(err.res)
        })
    }
  }
}
</script>
