<template>
  <div>
    <h1> หน้า professor</h1><br><br><br>
    <h5>ชื่อผู้ใช้ : {{ loggedUser.username }}</h5>
    <h5>รหัส : {{ loggedUser.password }}</h5>
    <h5>type : {{ loggedUser.type }}</h5>
    <b-button variant="primary" @click="logout">Logout</b-button>
  </div>
</template>
<script>
export default {
  data: () => ({
    logged: false
  }),
  methods: {
    isLogged () {
      window.localStorage.getItem('token')
        ? this.logged = true
        : this.logged = false
    },
    logout () {
      window.localStorage.removeItem('token')
      this.$router.push('/login')
    }
  },
  computed: {
    loggedUser () {
      const token = window.localStorage.getItem('token')
      const payload = JSON.parse(atob(token.split('.')[1]))
      return payload
    }
  },
  mounted () {
    this.isLogged()
  }
}
</script>
