<template>
  <div>
    <b-nav vertical>
        <template v-if="logged == 'false'">
        <b-button-group vertical>
        <b-button variant="dark">เมนูหลัก</b-button>
        <b-button variant="light">หน้าหลัก</b-button>
        <b-button variant="light"><router-link to="/Login">เข้าสู่ระบบ</router-link></b-button>
        <!-- <b-button variant="light">ออกจากระบบ</b-button>
        <b-button variant="light">จัดการบัญชีผู้ใช้</b-button> -->
        <b-button variant="light"><router-link to="/Form">แบบฟอร์มเอกสาร</router-link></b-button>
        <b-button variant="light"><router-link to="/About">เกี่ยวกับสหกิจศึกษา</router-link></b-button>
        <b-button variant="light"><router-link to="/Contact">ติดต่อ</router-link></b-button>
        <!-- <b-button variant="light"><router-link to="/Announce">จัดการประกาศ</router-link></b-button> -->
        </b-button-group>
      </template>
      <template v-if="loggedUser.type == 'student'">
        <b-button-group vertical>
        <b-button variant="dark">เมนูหลัก</b-button>
        <b-button variant="light"><router-link to="/student">หน้าหลัก</router-link></b-button>
        <b-button variant="light" @click="logout" ><router-link to="/">ออกจากระบบ</router-link></b-button>
        <b-button variant="light">จัดการบัญชีผู้ใช้</b-button>
        <b-button variant="light">ตรวจสอบสิทธิ์เข้าสหกิจ</b-button>
        <b-button variant="light">บริษัทที่มารับสหกิจ</b-button>
        <b-button variant="light">รายการอบรม</b-button>
        <b-button variant="light"><router-link to="/About">เกี่ยวกับสหกิจศึกษา</router-link></b-button>
        <b-button variant="light">ลงสมัครสหกิจศึกษา</b-button>
        <b-button variant="light">สถานะสหกิจศึกษา</b-button>
        <b-button variant="light"><router-link to="/Form">แบบฟอร์มเอกสาร</router-link></b-button>
        <b-button variant="light">ส่งรายงานความคืบหน้า</b-button>
        <b-button variant="light"><router-link to="/Contact">ติดต่อ</router-link></b-button>
        </b-button-group>
      </template>
       <template v-if="loggedUser.type == 'officer'">
        <b-button-group vertical>
        <b-button variant="dark">เมนูหลัก</b-button>
        <b-button variant="light"><router-link to="/officer">หน้าหลัก</router-link></b-button>
        <b-button variant="light" @click="logout" ><router-link to="/">ออกจากระบบ</router-link></b-button>
        <b-button variant="light">จัดการบัญชีผู้ใช้</b-button>
        <b-button variant="light">จัดการประกาศ</b-button>
        <b-button variant="light">จัดการสถานประกอบการ</b-button>
        <b-button variant="light">จัดการนิสิต</b-button>
        <b-button variant="light">จัดการสถานะสหกิจ</b-button>
        <b-button variant="light">จัดการการอบรมสหกิจ</b-button>
        <b-button variant="light">จัดการชั่วโมงอบรมสหกิจ</b-button>
        <b-button variant="light">จัดการอาจารย์</b-button>
        <b-button variant="light">เพิ่มอาจารย์ที่ปรึกษา</b-button>
        <b-button variant="light">เพิ่มอาจารย์ที่ปรึกษา</b-button>
        <b-button variant="light"><router-link to="/Form">แบบฟอร์มเอกสาร</router-link></b-button>
        <b-button variant="light"><router-link to="/About">เกี่ยวกับสหกิจศึกษา</router-link></b-button>
        <b-button variant="light"><router-link to="/Contact">ติดต่อ</router-link></b-button>
        </b-button-group>
      </template>
       <template  v-if="loggedUser.type == 'professor'">
        <b-button-group vertical>
        <b-button variant="dark">เมนูหลัก</b-button>
        <b-button variant="light"><router-link to="/professor">หน้าหลัก</router-link></b-button>
        <b-button variant="light" @click="logout" ><router-link to="/">ออกจากระบบ</router-link></b-button>
        <b-button variant="light">จัดการบัญชีผู้ใช้</b-button>
        <b-button variant="light">นิสิตในความรับผิดชอบ</b-button>
        <b-button variant="light"><router-link to="/Form">แบบฟอร์มเอกสาร</router-link></b-button>
        <b-button variant="light"><router-link to="/About">เกี่ยวกับสหกิจศึกษา</router-link></b-button>
        <b-button variant="light"><router-link to="/Contact">ติดต่อ</router-link></b-button>
        </b-button-group>
      </template>
    </b-nav>
  </div>
</template>
<script>
export default {
  data: () => ({
    logged: false
  }),
  methods: {
    isLogged () {
      window.localStorage.getItem('token')
        ? this.logged = true
        : this.logged = false
    },
    logout () {
      window.localStorage.removeItem('token')
      this.$router.push('/')
    }
  },
  computed: {
    loggedUser () {
      const token = window.localStorage.getItem('token')
      const payload = JSON.parse(atob(token.split('.')[1]))
      return payload
    }
  },
  mounted () {
    this.isLogged()
  }
}
</script>
